%ul.nav.nav-tabs
  %li
    %a{:href => "#subtypes", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @ledger_account.asset_subtypes.count
      = "Asset Subtypes"
  %li
    %a{:href => "#gla_entries", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @ledger_account.general_ledger_account_entries.count
      = "GL Account Entries"

.tab-content
  .tab-pane.fade#subtypes
    .tab-content
      = format_field("Asset Subtypes", format_as_list(@ledger_account.asset_subtypes))
  .tab-pane.fade#gla_entries
    .tab-content
      = render :partial => 'gla_entries', :locals => {:gla_entries => @ledger_account.general_ledger_account_entries.from_fy(Organization.get_typed_organization(@ledger_account.chart_of_account.organization).first_archivable_fiscal_year)}