= simple_form_for(@ledger_account,
  :html => {:class => 'form-vertical gla_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.input :chart_of_account_id, :as => :hidden, :input_html => {:value => @chart_of_accounts.id}

  = f.association :general_ledger_account_type, :required => true, :collection => @ledger_account.new_record? ? GeneralLedgerAccountType.active.where(name: 'Asset Account') : GeneralLedgerAccountType.active, :label => 'Account Type', :include_blank => false
  = f.association :general_ledger_account_subtype, :required => true, :collection => @ledger_account.new_record? ? GeneralLedgerAccountSubtype.active.where(name: 'Fixed Asset Account') : GeneralLedgerAccountSubtype.active, :label => 'Account Subtype', :include_blank => false
  = f.input :name, :required => true
  = f.input :account_number, :required => true

  #grant_budgets.well.well-sm{style: "overflow-y:scroll; max-height:250px;"}
    %label.control-label
      %i.fa.fa-usd.fa-1-5x
      Grant
    .links.pull-right
      = link_to_add_association f, :grant_budgets, :class => 'btn btn-xs btn-info', data: {association_insertion_method: 'after'} do
        %i.fa.fa-plus
    %label#grant_budgets-error.error
    = f.simple_fields_for :grant_budgets do |grant_budget|
      = render 'grant_budget_fields', f: grant_budget

  = f.button :submit, :class => "btn btn-primary"

:javascript
  
  $('.gla_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });

  $('body').on('change', '#grant_budgets .grant_budget_amount', function() {
    id_str = $(this).attr('id');
    console.log(id_str);
    new_id_str = id_str.substring(0, id_str.length-6) + 'grant_id';

    if ($( new_id_str ).val() != "") {
      $.ajax({
        url: '/general_ledger_accounts/check_grant_budget',
        data: {
            grant_id: function() {
              return $( '#' + new_id_str ).val();
            },
            amount: function() {
              return $( '#' + id_str ).val();
            },
        },
        success: function(result){
          $('#grant_budgets .grant_budget_amount').rules("add", {
            max: parseInt(result)
          });

        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
        }
      });
    }
  });
