= simple_form_for(@ledger_account,
  :html => {:class => 'form-vertical gla_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.input :chart_of_account_id, :as => :hidden, :input_html => {:value => @chart_of_accounts.id}

  = f.association :general_ledger_account_type, :required => true, :collection => GeneralLedgerAccountType.active, :label => 'Account Type'
  = f.input :account_number, :required => true
  = f.input :name, :required => true

  #grant_budgets.well.well-sm{style: "overflow-y:scroll; max-height:250px;"}
    %label.control-label
      %i.fa.fa-usd.fa-1-5x
      = GrantBudget.label.pluralize
    .links.pull-right
      = link_to_add_association f, :grant_budgets, :class => 'btn btn-xs btn-info', data: {association_insertion_method: 'after'} do
        %i.fa.fa-plus
    %label#grant_budgets-error.error
    = f.simple_fields_for :grant_budgets do |grant_budget|
      = render 'grant_budget_fields', f: grant_budget

  = f.button :submit, :class => "btn btn-primary"

:javascript
  
  $('.gla_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });
