= simple_form_for(@ledger_account,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.association :general_ledger_account_type, :label => 'Account Type'
  = f.input :account_number
  = f.input :name

  = f.button :submit, :class => "btn btn-primary"

:javascript
  $(document).ready(function(){
    transam.make_same_height('.header-part');
  });
