- if gla_budgets.empty?
  %p There are no associated GLA budgets.
-else
  %table.table.table-hover#gla_datatable
    %thead
      %tr
        %th.left= GrantBudget.label
        %th.left GLA
        %th.right Amount

    %tbody
      - total = 0
      - gla_budgets.each do |gla_budget|
        - total += gla_budget.amount
        %tr.popup-details
          %td.left= link_to gla_budget.sourceable.to_s, eval(gla_budget.sourceable_path)
          %td.left= link_to gla_budget.general_ledger_account
          %td.right= format_as_currency(gla_budget.amount)
    %tfoot
      %tr
        %td{:colspan => 2}
        %td.right= format_as_currency(total)

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
