- if gla_budgets.empty?
  %p There are no gla budgets associated with this account.
-else
  %table.table.table-hover#gla_datatable
    %thead
      %tr
        %th.left Grant
        %th.center Fiscal Year
        %th.left Source
        %th.right GLA Amount
        %th.right Total Amount
        %th.right Expenditures
        %th.right Total Expended
        %th.center

    %tbody
      - total = 0
      - gla_total = 0
      - spent = 0
      - gla_budgets.each do |gla_budget|
        - total += gla_budget.grant.amount
        - gla_total += gla_budget.amount unless gla_budget.amount.nil?
        - spent += gla_budget.grant.spent
        %tr.popup-details{:data => {:action_path => grant_path(gla_budget.grant)}}
          %td.left= gla_budget.grant.grant_number
          %td.center= format_as_fiscal_year(gla_budget.grant.fy_year)
          %td.left= gla_budget.grant.funding_source
          %td.right= format_as_currency(gla_budget.amount) unless gla_budget.amount.nil?
          %td.right= format_as_currency(gla_budget.grant.amount)
          %td.right= format_as_integer(gla_budget.grant.grant_purchases.count)
          %td.right= format_as_currency(gla_budget.grant.spent)
          %td.center
            = render :partial => "grants/popup_table", :locals => {:grant => gla_budget.grant}
    %tfoot
      %tr
        %td{:colspan => 3}
        %td.right= format_as_currency(gla_total)
        %td.right= format_as_currency(total)
        %td.right
        %td.right= format_as_currency(spent)

  = render :partial => 'shared/datatable_javascript', :locals => {:id => 'gla_datatable'}

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
