:ruby
  grants = @ledger_account.grants

- if grants.empty?
  %p There are no grants for this fund.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.left Source
        %th.center Fiscal Year
        %th.left Recipient
        %th.left Number
        %th.right Amount
        %th.center Active
        %th.center

    %tbody
      - total = 0
      - grants.each do |f|
        - total += f.amount
        %tr.popup-details{:data => {:action_path => assets_grant_path(f)}}
          %td.left= f.funding_source
          %td.center= format_as_fiscal_year(f.fy_year)
          %td.left= f.organization.short_name unless f.organization.nil?
          %td.left= f.grant_number
          %td.right= format_as_currency(f.amount)
          %td.center= format_as_boolean(true)
          %td.center
            %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{f.grant_number}: Assets", :content => "#{raw render :partial => 'general_ledger_accounts/popup_table', :locals => {:grant => f, :popup => false}}"}}
    %tfoot
      %tr
        %td{:colspan => 4}
        %td.right= format_as_currency(total)
        %td.right
        %td.right

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
