.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if can? :create, GeneralLedgerAccount
      %li
        = link_to new_general_ledger_account_path do
          %i.fa.fa-plus.fa-fw
          = " Add General Ledger Account";
= form_tag general_ledger_accounts_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  .form-group
    = select_tag(:type, options_for_select(GeneralLedgerAccountType.all.collect{|a| [a.name, a.id]}, :selected => @account_type_id), :class => "form-control", :style => "width: 150px;", :prompt => "Any GLA...")

:javascript
  $(document).ready(function() {

    $('#type').change(function() {
      $('#filter_form').submit();
    });

  });
