= render :layout => "update_event_form" do |f|
  = f.input :event_date, :label => 'Date of Report', :wrapper => :vertical_append do
    = f.input_field :event_date, :as => :string, :class => 'form-control datepicker',
      :data => {'date-container' => "##{format_as_id(@asset_event.asset_event_type.name)}_dialog",
        'date-start-date' => "#{format_as_date(start_of_fiscal_year(Organization.get_typed_organization(@asset.organization).first_archivable_fiscal_year))}",
        'date-end-date' => "#{format_as_date(@asset.policy_analyzer.get_depreciation_date(Date.today)-1.day)}"},
        :value => format_as_date(f.object.event_date)
    %span.input-group-addon
      %i.fa.fa-calendar

  .alert.alert-info
    = "Book value as of <span id='current_event_date'>#{format_as_date(f.object.event_date)}</span>: <b><span id='current_book_val'>#{format_as_currency(@asset.book_value)}</span></b>".html_safe

  = f.input :book_value, :wrapper => :vertical_append, :label => "Book Value" do
    %span.input-group-addon
      %i.fa.fa-usd
    = f.input_field :book_value, :class => "form-control", :label => 'New Book Value'

  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Update Book Value", :class => 'btn btn-primary'

= render 'shared/table_formatters'

:javascript

  $('#asset_event_event_date').change(function() {
    $.ajax({
      url: '#{get_book_value_on_date_inventory_path(@asset)}',
      data: {
          on_date: function() {
            return $('#asset_event_event_date').val();
          }
      },
      success: function(result){
        $('#current_event_date').text($('#asset_event_event_date').val());
        $('#current_book_val').text(currency_formatter(parseInt(result)));
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
      }
    });
  });
