- if (can? :update, @funding_template) || (can? :destroy, @funding_template)
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      - if can? :update, @funding_template
        %li
          = link_to edit_funding_template_path(@funding_template) do
            %i.fa.fa-edit.fa-fw
            = " Update this template"
      - if (can? :destroy, @funding_template)
        %li.divider
        %li
          = link_to funding_template_path(@funding_template), :method => :delete, :data => {:confirm => "This template is associated with XXX buckets, which are tagged to YYY projects. Are you sure? The action cannot be undone."}  do
            %i.fa.fa-trash-o.fa-fw
            = " Remove this template"
