- orgs = @funding_template.get_organizations

%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Description"
  %li
    %a{:href => "#elgby", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= orgs.count
      = "Eligiblity"
  %li
    %a{:href => "#bckts", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @funding_template.funding_buckets.active.count
      = "Buckets"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      - if @funding_template.description.present?
        = format_as_text(@funding_template.description)
      - else
        There is no description associated with this template.

  .tab-pane.fade#elgby
    .tab-content
      - if @funding_template.query_string.present?
        = format_field("Agencies", QueryParam.find_by(class_name: 'FundingTemplate', query_string: @funding_template.query_string).to_s)
      = render :partial => 'organizations/index_table', :locals => {:organizations => orgs, :show_actions => 0}


  .tab-pane.fade#bckts
    .tab-content
      = render :partial => 'funding_buckets/index_table', :locals => {:buckets => @funding_template.funding_buckets.active, :show_actions => 0, :funding_source_id => @funding_template.funding_source.id, :funding_template_id => @funding_template.id}
