= format_field("Program",  link_to(@funding_template.funding_source, funding_source_path(@funding_template.funding_source)))
= format_field("Name", @funding_template.name)
= format_field("dotGrants ID", @funding_template.external_id) unless @funding_template.external_id.blank?
%hr
= format_field("Contributor", @funding_template.contributor)
= format_field("Transfer Only", format_as_boolean(@funding_template.transfer_only)) if @funding_template.transfer_only
= format_field("Owner", @funding_template.owner)
- if @funding_template.funding_template_types.count > 0
  %hr
  = format_field("For", format_as_list(@funding_template.funding_template_types))
- if @funding_template.recurring || @funding_template.match_required.present?
  %hr
  = format_field("Recurring", format_as_boolean(@funding_template.recurring)) if @funding_template.recurring
  = format_field("Pcnt Match", format_as_percentage(@funding_template.match_required, 3)) if @funding_template.match_required.present?