= format_field("Program",  link_to(@funding_template.funding_source, funding_source_path(@funding_template.funding_source)))
= format_field("Name", @funding_template.name)
%hr
= format_field("Contributer", @funding_template.contributer)
= format_field("Transfer Only", format_as_boolean(@funding_template.transfer_only)) if @funding_template.transfer_only
= format_field("Owner", @funding_template.owner)
%hr
= format_field("For", format_as_list(@funding_template.funding_template_types))
%hr
= format_field("Recurring", format_as_boolean(@funding_template.recurring))
= format_field("Percentage Match", format_as_percentage(@funding_template.match_required, 3))
