- funding_pcnt_precision = Rails.application.config.try(:funding_pcnt_decimal_precision) || 2

- if ['Track', 'PowerSignal', 'Guideway'].include? @asset.class.to_s
  %fieldset
    %legend{style: 'font-size: medium;'} Funding Programs
    %label#funding_sources-error.error
    = f.simple_fields_for :funding_source_grant_purchases do |funding_source|
      = render 'transit_assets/transit_assets_funding_source_fields', f: funding_source
    .links.pull-right
      = link_to_add_association f, :funding_source_grant_purchases, partial: 'transit_assets/transit_assets_funding_source_fields', :class => 'asset-subform-action' do
        %i.fa.fa-2x.fa-plus-circle
- else
  #funding_sources_grant_purchases.asset-subform{style: "width:95%;"}
    = simple_form_for(asset.transam_asset,
        :as => :asset,
        :url => inventory_path(asset.transam_asset),
        :method => 'put',
        :remote => true,
        :html => {:class => 'form-vertical form-section funding_sources_grant_purchases_form'},
        :wrapper => :vertical_form,
        :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
          :radio_buttons => :vertical_radio_and_checkboxes,
          :file => :vertical_file_input,
          :boolean => :vertical_boolean}) do |f|
      %fieldset
        %legend{style: 'font-size: medium;'} Funding Programs
        %label#funding_sources-error.error
        = f.simple_fields_for :funding_source_grant_purchases do |funding_source|
          = render 'transit_assets/transit_assets_funding_source_fields', f: funding_source
        .links.pull-right
          = link_to_add_association f, :funding_source_grant_purchases, partial: 'transit_assets/transit_assets_funding_source_fields', :class => 'asset-subform-action' do
            %i.fa.fa-2x.fa-plus-circle


:javascript
   var purchase_cost;
   $( document ).ready(function() {
    function check_add_funding_program_button() {
      if ($('#edit_asset .nested-fields:visible').length >= 7) {
        $('#edit_asset .links a').hide();
      } else {
        $('#edit_asset .links a').show();
      }
    }

    // enable/disable FAIN field depending on if the funding source is federal
    function check_fain_fields(funding_source) {
      if ($(funding_source).find(":selected")[0]?.dataset?.federal === "true") {
        $(funding_source).closest(".asset-subform-action").find(".fain").prop("disabled", false);
      } else {
        $(funding_source).closest(".asset-subform-action").find(".fain").prop("disabled", true);
      }
    };

    $('.funding-source-global-sourceable').on('change', function() {check_fain_fields($(this))});

    $('#edit_asset').on('cocoon:after-insert', function() {
      check_add_funding_program_button();
      $('.funding-source-global-sourceable').off('change');
      $('.funding-source-global-sourceable').on('change', function() {check_fain_fields($(this))});
    });

    $('#edit_asset').on('cocoon:after-remove', function() {
      check_add_funding_program_button();
    });

    // check for funding program buttons on edit enabled or tab switched
    $('#edit_asset .asset-subform-action').on("change", function() {
      if ($('#edit_asset .links a:visible').length > 0) {
        check_add_funding_program_button();
      }
      $('.funding-source-global-sourceable').each(function() {check_fain_fields($(this))});
    });

    $('.funding_sources_grant_purchases_form').validate({
      ignore: [],
      submitHandler: function(form) {
        $('.funding_sources_grant_purchases_form input').prop('disabled', false); // re-enable any disabled fields so they'll submit
        form.trigger('submit.rails'); // submits form both as HTML or JS as defined in form data-remote
      }
    });

    if($('.funding_sources_grant_purchases_form input.purchase_cost_amount').length > 0) {
      $('.funding_sources_grant_purchases_form input.purchase_cost_amount').rules( "add", {
        sumTotal_funding_sources: true
      });
    }
  });

  $('body').on('change', '.funding_sources_grant_purchases_form .purchase_cost_amount, #purchase_cost_group input', function() {
     purchase_cost = parseInt($('#purchase_cost_group').find("input").val());
     $('.funding_sources_grant_purchases_form input.purchase_cost_amount').rules( "add", {
      sumTotal_funding_sources: true
    });
     $('.funding_sources_grant_purchases_form .funding-pcnt').valid();

     var pcnt = $(this).val() * 100 / purchase_cost;
     $(this).parents('.funding-source-fields').find('.funding-pcnt').val(pcnt);
     $(this).parents('.funding-source-fields').find('.grant-purchase-pcnt.display-value').html(pcnt.toFixed(#{funding_pcnt_precision}) + " %");
  });

  $.validator.addMethod("sumTotal_funding_sources", function(value, element) {
    // TDC is counted separately as they're "credits"
    if(purchase_cost === undefined || purchase_cost === NaN) {
      purchase_cost = parseInt($('#purchase_cost').editable('getValue')['asset[purchase_cost]']);
    }
    var sum = 0;
    var tdc_sum = 0;
    var tdc_funding_programs = JSON.parse('#{FundingSource.where(funding_source_type: FundingSourceType.find_by(name: 'TDC')).map{|f| f.to_global_id.to_s}.to_json.html_safe}')
    $(element).closest('.tab-content').find('.funding_sources_grant_purchases_form .funding-source-fields:visible .purchase_cost_amount').each(function() {
      var program = $(this).parents('.funding-source-fields').find('.funding-source-global-sourceable').val();

      if ($.inArray(program, tdc_funding_programs) >= 0){
        tdc_sum += Number($(this).val());
      } else {
        sum += Number($(this).val());
      }
    });
    return (sum <= purchase_cost) && (tdc_sum <= purchase_cost);
  }, "Funding exceeds 100%.");

