- funding_pcnt_precision = Rails.application.config.try(:funding_pcnt_decimal_precision) || 2

- if ['Track', 'PowerSignal', 'Guideway'].include? @asset.class.to_s
  %fieldset
    %legend{style: 'font-size: medium;'} Funding Programs
    %label#funding_sources-error.error
    = f.simple_fields_for :funding_source_grant_purchases do |funding_source|
      = render 'transit_assets/transit_assets_funding_source_fields', f: funding_source
    .links.pull-right
      = link_to_add_association f, :funding_source_grant_purchases, partial: 'transit_assets/transit_assets_funding_source_fields', :class => 'asset-subform-action' do
        %i.fa.fa-2x.fa-plus-circle
- else
  #funding_sources_grant_purchases.asset-subform{style: "width:95%;"}
    = simple_form_for(asset.transam_asset,
        :as => :asset,
        :url => inventory_path(asset.transam_asset),
        :method => 'put',
        :remote => true,
        :html => {:class => 'form-vertical form-section funding_sources_grant_purchases_form'},
        :wrapper => :vertical_form,
        :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
          :radio_buttons => :vertical_radio_and_checkboxes,
          :file => :vertical_file_input,
          :boolean => :vertical_boolean}) do |f|
      %fieldset
        %legend{style: 'font-size: medium;'} Funding Programs
        %label#funding_sources-error.error
        = f.simple_fields_for :funding_source_grant_purchases do |funding_source|
          = render 'transit_assets/transit_assets_funding_source_fields', f: funding_source
        .links.pull-right
          = link_to_add_association f, :funding_source_grant_purchases, partial: 'transit_assets/transit_assets_funding_source_fields', :class => 'asset-subform-action' do
            %i.fa.fa-2x.fa-plus-circle


:javascript
   $( document ).ready(function() {
    $('.funding_sources_grant_purchases_form').validate({
      ignore: [],
      submitHandler: function(form) {
        $('.funding_sources_grant_purchases_form input').prop('disabled', false); // re-enable any disabled fields so they'll submit
        form.trigger('submit.rails'); // submits form both as HTML or JS as defined in form data-remote
      }
    });

    if($('.funding_sources_grant_purchases_form input.purchase_cost_amount').length > 0) {
      $('.funding_sources_grant_purchases_form input.purchase_cost_amount').rules( "add", {
        pcntSumHundred_funding_sources: true
      });
    }
  });

  $('body').on('change', '.funding_sources_grant_purchases_form .purchase_cost_amount', function() {
     $('.funding_sources_grant_purchases_form input.purchase_cost_amount').rules( "add", {
      pcntSumHundred_funding_sources: true
    });
     $('.funding_sources_grant_purchases_form .funding-pcnt').valid();

     var pcnt = $(this).val() * 100 / parseInt($(this).closest('.tab-content').find('#purchase_cost').editable('getValue')['asset[purchase_cost]']);
     
     $(this).parents('.funding-source-fields').find('.funding-pcnt').val(pcnt);
     $(this).parents('.funding-source-fields').find('.grant-purchase-pcnt.display-value').html(pcnt.toFixed(#{funding_pcnt_precision}) + " %");
  });

  $.validator.addMethod("pcntSumHundred_funding_sources", function(value, element) {
      // TDC is counted separately as they're "credits"
      var sum = 0;
      var tdc_sum = 0;
      var tdc_funding_programs = JSON.parse('#{FundingSource.where(funding_source_type: FundingSourceType.find_by(name: 'TDC')).map{|f| f.to_global_id.to_s}.to_json.html_safe}')
    $(element).closest('.tab-content').find('.funding_sources_grant_purchases_form .funding-pcnt').each(function() {
      var program = $(this).parents('.funding-source-fields').find('.funding-source-global-sourceable').val();

      if ($.inArray(program, tdc_funding_programs) >= 0){
        tdc_sum += Number($(this).val());
      } else {
        sum += Number($(this).val());
      }
    });
    return (sum <= 100) && (tdc_sum <= 100);
  }, "% Funding do not sum to 100%.");

