
= simple_form_for(@asset,
  :as => :asset,
  :url => inventory_index_path,
  :method => 'post',
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

  - fta_asset_class = @asset.fta_asset_class || FtaAssetClass.find_by(id: params[:asset_base_class_id])
  = hidden_field_tag :asset_base_class_id, fta_asset_class.id

  = f.input :facility_name

  = f.input :country
  = f.input :address1
  = f.input :address2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :county

  = f.input :asset_tag
  = f.input :external_id

  = f.input :fta_asset_category_id, as: :hidden, input_html: {value: fta_asset_class.fta_asset_category_id}
  = f.association :fta_asset_class
  = f.input :global_fta_type, :collection => FtaFacilityType.all.map{|f| [ f.to_s, f.to_global_id ]}
  = f.association :asset_subtype

  = f.association :esl_category
  = f.input :ntd_id

  = f.input :facility_size
  = f.input :facility_size_unit
  = f.input :section_of_larger_facility
  = f.input :manufacture_year
  = f.input :lot_size
  = f.input :lot_size_unit
  = f.association :leed_certification_type
  = f.input :ada_accessible
  = f.input :num_structures
  = f.input :num_floors
  = f.input :num_elevators
  = f.input :num_escalators
  = f.input :num_public_parking
  = f.input :num_private_parking

  = render :partial => "assets/accounting_asset_form", :locals => {:f => f}

  = f.input :purchase_cost
  = f.input :pcnt_capital_responsibility

  = f.input :purchased_new
  = f.input :purchase_date
  = f.input :contract_num
  = f.association :contract_type
  = f.input :has_warranty
  = f.input :warranty_date

  = f.association :operator
  = f.input :other_operator
  = f.association :vehicle_features
  = f.input :in_service_date
  = f.input :primary_fta_mode_type_id
  = f.input :secondary_fta_mode_type_ids
  = f.association :fta_private_mode_type

  = f.input :title_number
  = f.association :title_ownership_organization
  = f.input :other_title_ownership_organization
  = f.association :lienholder
  = f.input :other_lienholder
  = f.association :land_ownership_organization
  = f.input :other_land_ownership_organization
  = f.association :facility_ownership_organization
  = f.input :other_facility_ownership_organization

  - view_component = 'app_characteristics_form'
  - if lookup_context.template_exists?(view_component, 'transit_assets', true)
    = render :partial => "transit_assets/#{view_component}", :locals => {:f => f}


  = f.button :submit, :class => 'btn btn-primary'