- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = render :partial => "assets/accounting_asset_form", :locals => {:f => f}

    = f.input :purchase_cost
    = f.association :fta_funding_type
    = f.input :pcnt_capital_responsibility
    = f.association :fta_ownership_type
    = f.input :other_fta_ownership_type

    = f.button :submit, :class => 'btn btn-primary'