%li{:class => get_nav_link_class(['accounting'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-usd.fa-2x
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}
    - unless @organization.chart_of_accounts.blank?
      %li.text-left.dropdown-submenu
        = link_to general_ledger_accounts_path do
          %i.fa.fa-book.fa-fw
          Chart of Accounts

        %ul.dropdown-menu
          - GeneralLedgerAccountType.all.each do |account_type|
            - if @organization.general_ledger_accounts.where(:general_ledger_account_type_id => account_type.id).count > 0
              %li.text-left
                = link_to general_ledger_accounts_path(:type => account_type) do
                  %i.fa.fa-fw.fa-book
                  = account_type

      %li.divider

    %li.text-left.dropdown-submenu
      = link_to grants_path do
        %i.fa.fa-fw.fa-legal
        = ' Grants'

      %ul.dropdown-menu
        - assets = Asset.where('organization_id IN (?)', @organization_list).ids
        - FundingSource.all.each do |funding_source|
          - grants = Grant.where(:funding_source_id => funding_source.id).ids
          - if GrantPurchase.where('asset_id IN (?) AND grant_id IN (?)', assets, grants).count > 0
            %li.text-left
              = link_to grants_path(:funding_source_id => funding_source.id) do
                %i.fa.fa-fw.fa-legal
                = funding_source
        %li.divider
        %li
          = link_to new_grant_path do
            %i.fa.fa-plus.fa-fw
            = "Add Grant";

    %li.divider
    %li.text-left.dropdown-submenu
      = link_to expenditures_path do
        %i.fa.fa-fw.fa-usd
        = 'CapEx'

      %ul.dropdown-menu
        - @organization.expense_types.active.each do |type|
          %li.text-left
            = link_to expenditures_path(:type => type) do
              %i.fa.fa-fw.fa-usd
              = type
        %li.divider
        %li
          = link_to new_expenditure_path do
            %i.fa.fa-plus.fa-fw
            = "Add CapEx";

    %li.divider
    %li.text-left
      = link_to vendors_path do
        %i.fa.fa-fw.fa-tag
        = ' Vendors'
