- expenditure_asset_type = AssetType.find_by(class_name: 'Expenditure')

%li{:class => get_nav_link_class(['accounting'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Accounting' do
    %i.fa.fa-usd.fa-2x
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}
    %li.text-left.dropdown-submenu
      = link_to funding_sources_path do
        %i.fa.fa-book.fa-fw
        Programs

      %ul.dropdown-menu
        - FundingSource.all.each do |program|
          %li.text-left
            = link_to funding_source_path(program) do
              %i.fa.fa-fw.fa-book
              = program

        - if can? :create, FundingSource
          %li.divider
          %li
            = link_to new_funding_source_path do
              %i.fa.fa-plus.fa-fw
              = "Add Funding Program";

    %li.divider

    - if ChartOfAccount.where(organization_id: @organization_list).count > 0
      - if @organization_list.count == 1
        %li.text-left
          = link_to general_ledger_accounts_path do
            %i.fa.fa-book.fa-fw
            Chart of Accounts
      - else
        %li.text-left.dropdown-submenu
          = link_to '#' do
            %i.fa.fa-book.fa-fw
            Chart of Accounts

          %ul.dropdown-menu
            - Organization.where(id: @organization_list).each do |org|
              %li.text-left
                = link_to general_ledger_accounts_path(:organization_id => org.id) do
                  %i.fa.fa-fw.fa-book
                  = org.short_name

      %li.divider

    %li.text-left
      = link_to grants_path do
        %i.fa.fa-fw.fa-legal
        = ' Grants'

    %li.divider
    %li.text-left
      = link_to vendors_path do
        %i.fa.fa-fw.fa-tag
        = ' Vendors'
