%li.nav-item{:class => get_nav_link_class(['accounting'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-usd.fa-2x
    %br
    Accounting
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}      

    %li.text-left.dropdown-submenu
      = link_to general_ledger_accounts_path do
        %i.fa.fa-usd.fa-fw
        Chart of Accounts

      %ul.dropdown-menu
        - GeneralLedgerAccountType.all.each do |account_type|
          %li.text-left
            = link_to general_ledger_accounts_path(:type => account_type) do
              %i.fa.fa-fw.fa-tag
              = account_type

    %li.divider
    %li.text-left
      = link_to grants_path do
        %i.fa.fa-fw.fa-tag
        = ' Grants'

    %li.divider
    %li.text-left
      = link_to expenditures_path do
        %i.fa.fa-fw.fa-tag
        = ' Expenditures'

    %li.divider
    %li.text-left
      = link_to vendors_path do
        %i.fa.fa-fw.fa-tag
        = ' Vendors'
