%li{:class => get_nav_link_class(['funding'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Funding' do
    %i.fa.fa-usd.fa-2x
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}
    %li.text-left.dropdown-submenu
      = link_to funding_sources_path do
        %i.fa.fa-book.fa-fw
        Funding Programs

      %ul.dropdown-menu
        - FundingSource.all.each do |program|
          %li.text-left
            = link_to funding_source_path(program) do
              %i.fa.fa-fw.fa-book
              = program

        - if can? :create, FundingSource
          %li.divider
          %li
            = link_to new_funding_source_path do
              %i.fa.fa-plus.fa-fw
              = "Add Funding Program";

    - if can? :read, FundingTemplate
      %li.text-left
        = link_to funding_templates_path do
          %i.fa.fa-fw.fa-tag
          = ' Templates'

      %li.text-left
        = link_to buckets_path do
          %i.fa.fa-fw.fa-legal
          = ' Buckets'

    %li.divider
    %li.text-left.dropdown-submenu
      = link_to '#' do
        %i.fa.fa-fw.fa-usd
        = 'My Funds'