<%= form_with(model: grant_amendment, local: true) do |form| %>
  <% if grant_amendment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grant_amendment.errors.count, "error") %> prohibited this grant_amendment from being saved:</h2>

      <ul>
      <% grant_amendment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grant_id %>
    <%= form.text_field :grant_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
