<p id="notice"><%= notice %></p>

<h1>Grant Amendments</h1>

<table>
  <thead>
    <tr>
      <th>Grant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grant_amendments.each do |grant_amendment| %>
      <tr>
        <td><%= grant_amendment.grant %></td>
        <td><%= link_to 'Show', grant_amendment %></td>
        <td><%= link_to 'Edit', edit_grant_amendment_path(grant_amendment) %></td>
        <td><%= link_to 'Destroy', grant_amendment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grant Amendment', new_grant_amendment_path %>
