- if (can? :update, @funding_bucket) || (can? :edit_bucket_app, @funding_bucket)
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      - if (can? :edit_bucket_app, @funding_bucket) && @funding_bucket.is_bucket_app?
        %li
          = link_to edit_bucket_app_funding_bucket_path(@funding_bucket), :remote => true do
            %i.fa.fa-edit.fa-fw
            = " Update this grant application"
      - if (can? :update, @funding_bucket)
        %li
          = link_to edit_funding_bucket_path(@funding_bucket), :remote => true do
            %i.fa.fa-edit.fa-fw
            = " Update this bucket's budget"

