= simple_form_for(@funding_bucket,
      :html => {:class => 'form-vertical funding_bucket_form' },
      :url => @funding_bucket.new_record? ? create_bucket_app_funding_buckets_path : update_bucket_app_funding_bucket_path,
      :wrapper => :vertical_form,
      :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  = f.association :funding_template, :required => true, :collection => FundingTemplate.get_templates_for_agencies(@organization_list), :include_blank => true, :label => "Program", :disabled => !@funding_bucket.new_record?

  - if @organization_list.count > 1
    = f.association :owner, :required => true, :collection => @funding_bucket.new_record? ? [] : [[Organization.find_by(id: @funding_bucket.owner_id).name, @funding_bucket.owner_id]], :selected => @funding_bucket.new_record? ? '' : @funding_bucket.owner_id, :label_method => "coded_name", :include_blank => true, :label => "Owner", :disabled => !@funding_bucket.new_record?

  .row
    .col-sm-6
      = f.input :fiscal_year, :required => true, :collection => get_fiscal_years
    .col-sm-6
      = f.input :budget_amount, :wrapper => :vertical_append, :label => "Budget" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :budget_amount, :class => "form-control", :required => true, :min => 1, :integer => true

  = f.button :submit, 'Save', :class => "btn btn-primary"

:javascript

  // jquery validations
  $('.funding_bucket_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });

  $.extend($.validator.messages, {
    integer: 'Please enter a whole number greater than or equal to 1.',
    min: 'Please enter a whole number greater than or equal to 1.'
  });

  $('#funding_bucket_funding_template_id').change(function(){
    if ($('#funding_bucket_funding_template_id').val() > 0)
    {
      var url = '#{find_organizations_from_template_id_funding_buckets_path}';
      $.ajax({
        url: url,
        data: {template_id: $('#funding_bucket_funding_template_id').val()},
        success: function(result){
          console.log(result);
          $('#funding_bucket_owner_id').empty();
          //Add a blank entry to the list.
          $("#funding_bucket_owner_id").append( $("<option></option>").attr("value", "").text(''));
          for(i = 0;i<result.length;i++){
            //add an option for each organizations available to the tempalte
            $("#funding_bucket_owner_id").append(
                $("<option></option>").attr("value", result[i][0]).text(result[i][1])
            );
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });
    }else{
      $('#funding_bucket_owner_id').empty();
    }
  });