- orgs = @funding_template.get_organizations

%ul.nav.nav-tabs
  - if @funding_template.owner == FundingSourceType.find_by(name: 'State')
    %li
      %a{:href => "#elgby", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= orgs.count
        = "Eligiblity"
  %li
    %a{:href => "#tagged", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= "TBD"
      = "Tagged Assets"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  - if @funding_template.owner == FundingSourceType.find_by(name: 'State')
    .tab-pane.fade#elgby
      .tab-content
        - if @funding_template.query_string.present?
          = format_field("Agencies", QueryParam.find_by(class_name: 'FundingTemplate', query_string: @funding_template.query_string).to_s)
        = render :partial => 'organizations/index_table', :locals => {:organizations => orgs, :show_actions => 0}

  .tab-pane.fade#tagged
    .tab-content
