= simple_form_for(@bucket_proxy,
:url => funding_buckets_path,
:method => :post,
:html => {:class => 'form-vertical bucket_form' },
:wrapper => :vertical_form,
:wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  -#TODO actually get these to appear on the same lin and next to the label Option:
  .row
    .col-sm-8
      -if can? :manage, FundingBucket
        = f.input :create_option, :as => :radio_buttons, :required => true, item_wrapper_class: 'inline', :label => "Option:", :collection => [ 'Create', 'Update', 'Delete' ]
      -elsif can? :update, FundingBucket
        = f.input :create_option, :as => :radio_buttons, :required => true, item_wrapper_class: 'inline', :label => "Option:", :collection => [ 'Create', 'Update']


  .create_conflict_option_div{:id => "create_conflict_option_div_id"}
    .row
      .col-sm-8
        = f.input :create_conflict_option, :as => :radio_buttons, :required => false, item_wrapper_class: 'inline', :label => "Create Conflict Option:", :collection => [ 'Update', 'Ignore', 'Cancel' ]

  .update_conflict_option_div{:id => "update_conflict_option_div_id"}
    .row
      .col-sm-8
        = f.input :update_conflict_option, :as => :radio_buttons, :required => false, item_wrapper_class: 'inline', :label => "Update Conflict Option:", :collection => [ 'Create', 'Ignore', 'Cancel' ]

  .row
    .col-sm-8
      = f.input :program_id, :required => true, :collection => FundingSource.all, :include_blank => true, :label => "Program"

  .template_id_div{:id => "template_id_div_id"}
    .row
      .col-sm-8
        = f.input :template_id, :required => true, :collection => [], :include_blank => true, :label => "Template"
  .owner_id_div{:id => "owner_id_div_id"}
    .row
      .col-sm-8
        = f.input :owner_id, :required => true, :collection => [], :include_blank => true, :label => "Owner"

  .row
    .col-sm-4
      = f.input :fiscal_year_range_start, :required => true, :collection => get_fiscal_years, :include_blank => true, :label => "From FY"
    .col-sm-4
      = f.input :fiscal_year_range_end, :required => true, :collection => get_fiscal_years, :include_blank => true, :label => "To FY"

  .escalate_by_div{:id => "escalate_by_div_id"}
    .row
      .col-sm-8
        = f.input :inflation_percentage, :wrapper => :vertical_append,:label => 'Escalate By' do
          = f.input_field :inflation_percentage, :class => 'form-control', :max => 100, :step => 0.001
          %span.input-group-addon
            %i.fa.fa-percent
  .state_or_single_agency_budget{:id => "state_or_single_agency_budget_id"}
    .row
      .col-sm-8
        = f.input :total_amount, :label => 'Budget ($)', :required => true

  .all_agencies_covered_by_template_group{:id => "all_agencies_covered_by_template_group_id"}
    .col-sm-8
      .all_agencies_covered_by_template{:id => "all_agencies_covered_by_template_id"}
        .row
          .col-sm-8

  .row
    .col-sm-8
      -#= f.button :submit, 'Create/Update', :class => "btn btn-primary"
      -#= f.input :description, :required => true, :collection => get_fiscal_years, :include_blank => true, :label => "Change this to test ajaxk"
      =button_tag 'Submit', :onclick=>"before_submit_bucket_check()", :class =>  'btn btn-primary'

-#= render 'form_scripts'

:javascript

  var display_budget = false;
  var display_all_orgs_budget = false;
  var display_escalate_by = false;

  $('#funding_bucket_proxy_create_option_create').change(function(){
     $("#update_conflict_option_div_id").hide();

    if($('#funding_bucket_proxy_create_option_create').is(':checked')){
      if(display_budget == true){
        $("#state_or_single_agency_budget_id").show();
      };
      if(display_all_orgs_budget = true){
        $("#all_agencies_covered_by_template_group_id").show();
      };
    };
  });

  $('#funding_bucket_proxy_create_option_update').change(function(){
    $("#create_conflict_option_div_id").hide();

    if($('#funding_bucket_proxy_create_option_update').is(':checked')){
      if(display_budget == true){
        $("#state_or_single_agency_budget_id").show();
      };
      if(display_all_orgs_budget = true){
        $("#all_agencies_covered_by_template_group_id").show();
      };
    };
  });

  $('#funding_bucket_proxy_create_option_delete').change(function(){
    $("#create_conflict_option_div_id").hide();
    $("#update_conflict_option_div_id").hide();

    if($('#funding_bucket_proxy_create_option_delete').is(':checked')){
      $("#escalate_by_div_id").hide();
      $("#state_or_single_agency_budget_id").hide();
      $("#all_agencies_covered_by_template_group_id").hide();
    }else{
      if(display_budget == true){
        $("#state_or_single_agency_budget_id").show();
      };
      if(display_all_orgs_budget = true){
        $("#all_agencies_covered_by_template_group_id").show();
      };
      if(display_escalate_by = true){
        $("#escalate_by_div_id").hide();
      }
    };
  });

  $("#create_conflict_option_div_id").hide();
  $("#update_conflict_option_div_id").hide();
  $("#state_or_single_agency_budget_id").hide();
  $("#escalate_by_div_id").hide();
  $('#template_id_div_id').hide();
  $('#owner_id_div_id').hide();

  $('.bucket_form').validate({
    debug: true
  });

  $( "#funding_bucket_proxy_fiscal_year_range_start" ).rules( "add", {
    FYRange: true
  });

  $( "#funding_bucket_proxy_fiscal_year_range_end" ).rules( "add", {
    FYRange: true
  });

  $( "#funding_bucket_proxy_inflation_percentage" ).rules( "add", {
    PercentThreeDigits: true
  });

  $.validator.addClassRules("agency_budget", {
    require_from_group: [1, ".agency_budget"],
    min: 1
  });

  $.validator.addMethod("FYRange", function(value, element) {
    if (($('#funding_bucket_proxy_fiscal_year_range_start').val() != "") && ($('#funding_bucket_proxy_fiscal_year_range_end').val() != "")) {
      return (parseInt($('#funding_bucket_proxy_fiscal_year_range_start').val()) <= parseInt($('#funding_bucket_proxy_fiscal_year_range_end').val()));
    } else {
      return true;
    }
  }, "Not a valid year range.");

  $.validator.addMethod('PercentThreeDigits', function(value, element) {
     return this.optional(element) || /^\d*(\.\d{0,3})?$/.test(value);
  }, "Please enter a correct percent up to three decimal places.");

  var agencies = []

  function remove_all_agencies_fields(){
    i=1;

    while(i < agencies.length)
    {
        var id = agencies[i][0];
        var label_id = 'agency_label_' + id
        var field_id = id

        $('#'+label_id).remove();
        $('#'+field_id).remove();

      i++;
    }
  }

  function populate_all_agencies_fields(){
    //There should be an entry before the first agency. the empty space and the all agencies option
    i = 1;

    while(i < agencies.length)
    {
        var add_to = "#all_agencies_covered_by_template_id"
        id = agencies[i][0];
        name = agencies[i][1]
        var new_label = '<label id="agency_label_' + id + '" name="agency_label' + name + '" type="text">'+name+' Budget ($)';
        var new_in = '<input autocomplete="off" class="input form-control agency_budget" id="' + id + '" name="agency_budget_id_' + id + '" label="' + id + '" type="text">';
        var new_input = $(new_in);
        $(add_to).before(new_label)
        $(add_to).before(new_input);
        $("#field" + id).attr('data-source',$(add_to).attr('data-source'));
      i++;
    }
  }


  $('#funding_bucket_proxy_owner_id').change(function(){
    if (funding_bucket_proxy_owner_id.value == -1){
      $("#state_or_single_agency_budget_id").hide();
      funding_bucket_proxy_total_amount.value = null;
      if( !$('#funding_bucket_proxy_create_option_delete').is(':checked')) {
        $("#all_agencies_covered_by_template_group_id").show()
      }
      display_budget = false;
      display_all_orgs_budget = true;
      populate_all_agencies_fields()
    }
    else{
      remove_all_agencies_fields()
      if( !$('#funding_bucket_proxy_create_option_delete').is(':checked')) {
        $("#state_or_single_agency_budget_id").show();
      }
      display_budget = true;
      display_all_orgs_budget = false;
      $("#all_agencies_covered_by_template_group_id").hide()
      //$('#all_agencies_covered_by_template_id').empty();
    }
  })

  function show_escalate_by(start_fy, end_fy){
    if(start_fy === end_fy)
    {
      $("#escalate_by_div_id").hide();
      funding_bucket_proxy_inflation_percentage.value = null;
      display_escalate_by = false;
    } else if($('#funding_bucket_proxy_create_option_delete').is(':checked') == false) {
      $("#escalate_by_div_id").show();
      update_expected_escalation_percent();
      display_escalate_by = true;
    }

  };

  $('#funding_bucket_proxy_fiscal_year_range_start').change(function(){
    show_escalate_by(funding_bucket_proxy_fiscal_year_range_start.value, funding_bucket_proxy_fiscal_year_range_end.value)
  });
  $('#funding_bucket_proxy_fiscal_year_range_end').change(function(){
    show_escalate_by(funding_bucket_proxy_fiscal_year_range_start.value, funding_bucket_proxy_fiscal_year_range_end.value)
  });

  $('#funding_bucket_proxy_description').change(function(){
    before_submit_bucket_check();
  });

  function before_submit_bucket_check(){
    event.preventDefault();

    if ($('.bucket_form').valid())
    {
      var url = ''
      if($('#funding_bucket_proxy_create_option_create').is(':checked')) {
        url = '#{find_existing_buckets_for_create_funding_buckets_path}'
      }else if ($('#funding_bucket_proxy_create_option_update').is(':checked')) {
        url = '#{find_number_of_missing_buckets_for_update_funding_buckets_path}'
      }else if($('#funding_bucket_proxy_create_option_delete').is(':checked')) {
        if ($('.bucket_form').valid())
        {
          document.getElementById('new_funding_bucket_proxy').submit();
        }
      }else {
        return;
      }

      var template_id = funding_bucket_proxy_template_id.value;
      var start_year = funding_bucket_proxy_fiscal_year_range_start.value;
      var end_year = funding_bucket_proxy_fiscal_year_range_end.value;
      var owner_id = funding_bucket_proxy_owner_id.value;

      $.ajax({
        url: url,
        data: {
          template_id: template_id,
          start_year: start_year,
          end_year: end_year,
          owner_id: owner_id},
        success: function(result){


          if($('#funding_bucket_proxy_create_option_update').is(':checked')){
            if (result.result_count == 0 || $('#funding_bucket_proxy_update_conflict_option_create').is(':checked')|| $('#funding_bucket_proxy_update_conflict_option_ignore').is(':checked') || $('#funding_bucket_proxy_update_conflict_option_cancel').is(':checked')) {
              document.getElementById('new_funding_bucket_proxy').submit();
            }else{
              $("#update_conflict_option_div_id").show();
              $("#create_conflict_option_div_id").hide();
              $('.bucket_form').valid();

              $('#form-modal').html(result.new_html);
              $('#form-modal').modal('show');
            }
          }else if($('#funding_bucket_proxy_create_option_create').is(':checked')) {
            if (result.result_count == 0 || $('#funding_bucket_proxy_create_conflict_option_update').is(':checked')|| $('#funding_bucket_proxy_create_conflict_option_ignore').is(':checked') || $('#funding_bucket_proxy_create_conflict_option_cancel').is(':checked')) {
              document.getElementById('new_funding_bucket_proxy').submit();
            }else{
              $("#create_conflict_option_div_id").show();
              $("#update_conflict_option_div_id").hide();
              $('.bucket_form').valid();

              $('#form-modal').html(result.new_html);
              $('#form-modal').modal('show');
            }
          };
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
      });
    }
  }

  function update_fiscal_year_range()
  {
    $('#funding_bucket_proxy_fiscal_year_range_start').empty();
    $('#funding_bucket_proxy_fiscal_year_range_end').empty();
    var url = '#{find_template_based_fiscal_year_range_funding_buckets_path}';
    if (funding_bucket_proxy_program_id.value > 0)
    {
      $.ajax({
        url: url,
        data: {program_id: funding_bucket_proxy_program_id.value},
        success: function(result){
          //Add a blank entry to the list.
          $("#funding_bucket_proxy_fiscal_year_range_start").append( $("<option></option>").attr("value", "").text(''));
          $("#funding_bucket_proxy_fiscal_year_range_end").append( $("<option></option>").attr("value", "").text(''));
          for(i = 0;i<result.length;i++){
            //add an option for each organizations available to the tempalte
            $("#funding_bucket_proxy_fiscal_year_range_start").append(
                $("<option></option>").attr("value", result[i][1]).text(result[i][0])
            );
            $("#funding_bucket_proxy_fiscal_year_range_end").append(
                $("<option></option>").attr("value", result[i][1]).text(result[i][0])
            );
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });
    }
  }

  function update_expected_escalation_percent()
  {
    if (funding_bucket_proxy_program_id.value > 0)
    {
      var url = '#{find_expected_escalation_percent_funding_buckets_path}';
      $.ajax({
        url: url,
        data: {program_id: funding_bucket_proxy_program_id.value},
        success: function(result){
          funding_bucket_proxy_inflation_percentage.value = result;
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });
    }else{
      funding_bucket_proxy_inflation_percentage.value = 0;
    }
  }

  $('#funding_bucket_proxy_template_id').change(function(){
    remove_all_agencies_fields();

    if (funding_bucket_proxy_template_id.value > 0)
    {
      var url = '#{find_organizations_from_template_id_funding_buckets_path}';
      $.ajax({
        url: url,
        data: {template_id: funding_bucket_proxy_template_id.value},
        success: function(result){
          agencies = result
          $('#funding_bucket_proxy_owner_id').empty();
          $('#owner_id_div_id').show();
          //Add a blank entry to the list.
          $("#funding_bucket_proxy_owner_id").append( $("<option></option>").attr("value", "").text(''));
          for(i = 0;i<result.length;i++){
            //add an option for each organizations available to the tempalte
            $("#funding_bucket_proxy_owner_id").append(
                $("<option></option>").attr("value", result[i][0]).text(result[i][1])
            );
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });
    }else{
      $('#funding_bucket_proxy_owner_id').empty();
      $('#owner_id_div_id').hide();
    }
  });

  $('#funding_bucket_proxy_program_id').change(function(){
    remove_all_agencies_fields();
    update_fiscal_year_range();
    $("#escalate_by_div_id").hide();
    if (funding_bucket_proxy_program_id.value > 0)
    {
      var url = '#{find_templates_from_program_id_funding_buckets_path}';
      $.ajax({
        url: url,
        data: {program_id: funding_bucket_proxy_program_id.value},
        success: function(result){
          $('#template_id_div_id').show();
          $('#funding_bucket_proxy_template_id').empty();
          $('#funding_bucket_proxy_owner_id').empty();
          //Add a blank entry to the list
          $("#funding_bucket_proxy_template_id").append( $("<option></option>").attr("value", "").text(''));
          for(i = 0;i<result.length;i++){
            //add in option for each template available to the program
            $("#funding_bucket_proxy_template_id").append(
                $("<option></option>").attr("value", result[i][0]).text(result[i][1])
            );
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });
    }else{
      $('#template_id_div_id').hide();
      $('#funding_bucket_proxy_template_id').empty();
      $('#funding_bucket_proxy_owner_id').empty();
    }

  });