= form_tag (@my_funds ? my_funds_funding_buckets_path : funding_buckets_path), :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action', style: 'padding-top: 1px' do
  .form-group
    - if @organizations.count > 1
      = select_tag(:agency_id, options_for_select(@organizations, :selected => @searched_agency_id), :class => "form-control bucket-filter", :style => "width: 400px;", :prompt => "All Organizations")
    - if @templates
      = select_tag(:searched_template, options_for_select(@templates, :selected => @searched_template), :class => "form-control bucket-filter", :style => "width: 300px;", :prompt => "All Templates")
    = select_tag(:fiscal_year, options_for_select(get_fiscal_years, :selected => @searched_fiscal_year), :class => "form-control bucket-filter", :style => "width: 150px;", :prompt => "All Years")
  .form-group  
    %label
      = check_box_tag(:funds_available, '1', @show_funds_available_only, {:class => "bucket-filter"})
      %b Funds Available Only

:javascript
  $(document).ready(function() {

    $('.bucket-filter').change(function() {
      $('#filter_form').submit();
    });

  });
