= format_field("Template",@funding_bucket.funding_template)
= format_field("Fiscal Year",format_as_fiscal_year(@funding_bucket.fiscal_year))
= format_field("Owner", @funding_bucket.owner)
= format_field("Budget Amount", format_as_currency(@funding_bucket.budget_amount))
= format_field("Budget Committed", format_as_currency(@funding_bucket.budget_committed))