.row
  .col-xs-12
    %fieldset
      %legend.panel-legend Description
      = funding_source.description

%br
.row
  .col-xs-12
    %fieldset
      %legend.panel-legend Details
      = funding_source.details
      %legend.panel-legend Type
      = funding_source.formula_fund.present? ? "Formula" : (funding_source.discretionary_fund.present? ? "Discretionary" : "Unknown")
      %legend.panel-legend Source
      = funding_source.funding_source_type
      %legend.panel-legend Life of $
      = format_as_integer(funding_source.life_in_years)
      %legend.panel-legend Pcnt Match
      = format_as_percentage(funding_source.match_required, 3)
      %legend.panel-legend Start
      = format_as_fiscal_year(funding_source.fy_start)
      %legend.panel-legend End
      = format_as_fiscal_year(funding_source.fy_end)
      -# = format_as_text(funding_source.details)