%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Details"

  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        = "Documents"
        %span.badge= @funding_source.documents.count
  %li
    %a{:href => "#comments", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        = "Comments"
        %span.badge= @funding_source.comments.count

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = render :partial => 'description', :locals => {:funding_source => @funding_source}

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

  .tab-pane.fade#comments
    .tab-content
      = render 'comments'
