%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Details"

  = nav_tab_count_tag("#grant", "Grants", @funding_source.grants.count)
  = nav_tab_count_tag("#asst", "Assets", @funding_source.assets.count)

  = nav_tab_count_tag("#docs", "Documents", @funding_source.documents.count)
  = nav_tab_count_tag("#comments", "Comments", @funding_source.comments.count)

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = render :partial => 'description', :locals => {:funding_source => @funding_source}

  .tab-pane.fade#grant
    .tab-content
      = render :partial => 'grants/index_table', :locals => {:grants => @funding_source.grants}

  .tab-pane.fade#asst
    .tab-content
      - if @funding_source.assets.empty?
        %p There are no assets associated with this program.
      - else
        = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @funding_source.assets}

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

  .tab-pane.fade#comments
    .tab-content
      = render 'comments'
