%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Details"
  - if can? :read, FundingTemplate
    %li
      %a{:href => "#templates", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= @funding_source.funding_templates.count
        = "Templates"
    %li
      %a{:href => "#bckts", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= @funding_source.funding_buckets.count
        = "Buckets"
  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @funding_source.documents.count
      = "Documents"
  %li
    %a{:href => "#comments", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @funding_source.comments.count
      = "Comments"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = render :partial => 'description', :locals => {:funding_source => @funding_source}

  - if can? :read, FundingTemplate
    .tab-pane.fade#templates
      .tab-content
        = render :partial => 'funding_templates/index_table', :locals => {:funding_templates => @funding_source.funding_templates, :show_actions => 0}

    .tab-pane.fade#bckts
      .tab-content
        = render :partial => 'funding_buckets/index_table', :locals => {:buckets => @funding_source.funding_buckets, :show_actions => 0}

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

  .tab-pane.fade#comments
    .tab-content
      = render 'comments'
