%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Details"

  - if Grant.sourceable_type == 'FundingSource'
    %li
      %a{:href => "#grant", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= @funding_source.grants.count
        = "Grants"

  - if GrantPurchase.sourceable_type.include? 'FundingSource'
    %li
      %a{:href => "#asst", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= @funding_source.assets.count
        = "Assets"

  = nav_tab_count_tag("#docs", "Documents", @funding_source.documents.count)
  = nav_tab_count_tag("#comments", "Comments", @funding_source.comments.count)

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = render :partial => 'description', :locals => {:funding_source => @funding_source}

  - if Grant.sourceable_type == 'FundingSource'
    .tab-pane.fade#grant
      .tab-content
        = render :partial => 'grants/index_table', :locals => {:grants => @funding_source.grants, :sourceable => @funding_source}

  - if GrantPurchase.sourceable_type.include? 'FundingSource'
    .tab-pane.fade#asst
      .tab-content
        - if @funding_source.assets.empty?
          %p There are no assets associated with this grant.
        - else
          = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @funding_source.assets}

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

  .tab-pane.fade#comments
    .tab-content
      = render 'comments'
