:ruby
  unless @query_field.query_category.name == 'Funding' # has to be grants
    assets = TransamAsset.where(organization_id: @organization_list)
    lookup_table_data = Grant.active.map{|g| {id: g.id, name: "#{g.grant_num} : #{format_as_fiscal_year(g.fy_year)} : #{g.owner.short_name} : Primary" }}

    idx = 0
    others = GrantPurchase.where(transam_asset: assets).where.not(other_sourceable: [nil, ""]).pluck(:other_sourceable).uniq.map{|name|
      idx -= 1
      {id: idx, name: "#{name} : - : - : -"}
    }

    data = (lookup_table_data + others).sort_by{|d| d[:name]}
  end

- if @query_field.query_category.name == 'Funding' # Program
  = render "query_filters/filter_forms/#{@query_field.filter_type}"
- else # grants
  = render 'query_filters/filter_forms/main_other_multi_select', main_field_name: 'sourceable_id', other_field_name: 'other_sourceable', data: data