= simple_form_for(@proxy,
:url => update_depreciation_inventory_path,
:method => 'post',
:html => {:class => 'form-vertical'},
:wrapper => :vertical_form,
:wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|
  = f.input :object_key, :as => :hidden

  = dialog_tag('Depreciation', {:icon => 'fa fa-refresh', :class => "header-part"}) do

    - if @asset.depreciation_purchase_cost != @asset.book_value
      .row
        .col-xs-12
          .alert.alert-warning Asset has already been depreciated. Some fields cannot be changed.

    .row
      .col-xs-6
        = f.input :depreciable, :as => :radio_buttons, :label => "Asset is depreciable?", :disabled => @asset.depreciation_purchase_cost != @asset.book_value

    .row
      .col-xs-4
        = f.input :depreciation_start_date, :wrapper => :vertical_append, :label => "Depreciation Start Date" do
          = f.input_field :depreciation_start_date, :as => :string, :class => 'form-control datepicker', :data => {'date-container' => '#depreciation_dialog'}, :value => format_as_date(f.object.depreciation_start_date), :disabled => @asset.depreciation_purchase_cost != @asset.book_value
          %span.input-group-addon
            %i.fa.fa-calendar

      .col-xs-4
        = f.input :depreciation_purchase_cost, :wrapper=> :vertical_prepend, :label => "Depreciation Cost (Purchase)" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :depreciation_purchase_cost, :class => "form-control", :disabled => @asset.depreciation_purchase_cost != @asset.book_value

    .row
      .col-xs-4
        = f.input :depreciation_useful_life, :wrapper => :vertical_append, :label => "Depreciation Useful Life" do
          = f.input_field :depreciation_useful_life, :as => :string, :class => 'form-control', :value => f.object.depreciation_useful_life.nil? ? @asset.expected_useful_life : f.object.depreciation_useful_life
          %span.input-group-addon
            months

      .col-xs-4
        = f.input :salvage_value, :wrapper=> :vertical_prepend, :label => "Salvage Value" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :salvage_value, :class => "form-control"

    = f.button :submit, 'Update Depreciation', :class => 'btn btn-primary'
    = link_to "Cancel", :back, {:id => 'cancel-button', :class => "btn btn-default"}
