.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if can? :update, @grant
      %li
        = link_to edit_grant_path(@grant) do
          %i.fa.fa-edit.fa-fw
          = " Update this grant"
    - if can? :update, @grant
      %li.divider
      %li
        = link_to grant_path(@grant), :method => :delete, :data => {:confirm => "Are you sure you want to remove this Grant? The action cannot be undone."}  do
          %i.fa.fa-trash-o.fa-fw
          = " Remove this Grant"
