%ul.nav.nav-tabs
  %li
    %a{:href => "#gla", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.general_ledger_accounts.count
      = "GL Accounts"
  -#%li
    -#  %a{:href => "#expn", :data =>{:toggle => 'tab'}}
    -#    %span.badge.pull-right= @grant.expenditures.count
    -#    = "CapEx"

  - if GrantPurchase.sourceable_type.include? 'Grant'
    %li
      %a{:href => "#asst", :data =>{:toggle => 'tab'}}
        - assets = GrantPurchase.sourceable_type == 'Grant' ? @grant.assets : @grant.grant_budgets.map{|g| g.assets}.flatten.uniq
        %span.badge.pull-right= assets.count
        = "Assets"

  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.documents.count
      = "Supporting Documents "

  %li
    %a{:href => "#comm", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.comments.count
      = "Comments "

.tab-content
  .tab-pane.fade#gla
    .tab-content
      = render :partial => 'gla_table', :locals => {:glas => @grant.general_ledger_accounts}

  -#.tab-pane.fade#expn
    -#  .tab-content
    -#    - if @grant.expenditures.empty?
    -#      %p There are no CapEx associated with this grant.
    -#    - else
    -#      = render :partial => 'expenditures/index_table', :locals => {:expenditures => @grant.expenditures}

  - if GrantPurchase.sourceable_type.include? 'Grant'
    .tab-pane.fade#asst
      .tab-content
        - if assets.empty?
          %p There are no assets associated with this grant.
        - else
          = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => assets}

  .tab-pane.fade#comm
    .tab-content
      = render 'comments'

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

= render 'detail_scripts'

- # Load module specific tab if they exist
- SystemConfig.transam_module_names.each do |mod|
  = render :partial => "grants/#{mod}_detail_tabs_scripts" rescue nil
