%ul.nav.nav-tabs
  %li
    %a{:href => "#gla", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.general_ledger_accounts.count
      = "GL Accounts"
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.assets.count
      = "Assets"
  %li
    %a{:href => "#expenditures", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.expenditures.count
      = "Expenditures"

.tab-content
  .tab-pane.fade#gla
    .tab-content
      = render :partial => 'gla_table', :locals => {:gla_budgets => @grant.grant_budgets}
      
  .tab-pane.fade#assets
    .tab-content
      - if @grant.assets.empty?
        %p There are no assets associated with this grant.
      - else
        = render :partial => 'assets/asset_datatable', :locals => {:assets => @grant.assets}
        
  .tab-pane.fade#expenditures
    .tab-content
      - if @grant.expenditures.empty?
        %p There are no expenditures associated with this grant.
      - else
        = render :partial => 'expenditures/expenditures_table', :locals => {:expenditures => @grant.expenditures}
