- assets = @grant.assets.where.not(asset_type: AssetType.find_by(class_name: 'Expenditure'))
- expenditures = @grant.assets.where(asset_type: AssetType.find_by(class_name: 'Expenditure'))

%ul.nav.nav-tabs
  %li
    %a{:href => "#gla", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.general_ledger_accounts.count
      = "GL Accounts"

  - if GrantPurchase.sourceable_type.include? 'Grant'
    %li
      %a{:href => "#asst", :data =>{:toggle => 'tab'}}
        %span.badge.pull-right= assets.count
        = "Assets"

  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.documents.count
      = "Documents "

  %li
    %a{:href => "#comm", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.comments.count
      = "Comments "

.tab-content
  .tab-pane.fade#gla
    .tab-content
      = render :partial => 'gla_table', :locals => {:glas => @grant.general_ledger_accounts}

  - if GrantPurchase.sourceable_type.include? 'Grant'
    .tab-pane.fade#asst
      .tab-content
        - if assets.empty?
          %p There are no assets associated with this grant.
        - else
          = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => assets}

  .tab-pane.fade#comm
    .tab-content
      = render 'comments'

  .tab-pane.fade#docs
    .tab-content
      = render 'documents'

= render 'detail_scripts'

- # Load module specific tab if they exist
- SystemConfig.transam_module_names.each do |mod|
  = render :partial => "grants/#{mod}_detail_tabs_scripts" rescue nil
