= simple_form_for(@grant,
  :html => {:class => 'form-vertical grant_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

  %fieldset
    %legend Details

    .row
      .col-sm-3= f.input :grant_num, label: 'Grant Number'
    .row
      .col-sm-3
        .form-group
          %label.control-label.string.required
            * Source
          = select_tag(:funding_source_type_id, options_from_collection_for_select(FundingSourceType.where.not(name: 'Agency'), "id", "name"), class: 'form-control', include_blank: true)
    .row
      .col-sm-3= f.input :global_sourceable, collection: FundingSource.all.map{|f| [ f.to_s, f.to_global_id, data: {funding_source_type_id: f.funding_source_type_id} ]}, label: 'Program', required: true
    .row
      .col-sm-3= f.association :owner, collection: Organization.all
      .col-sm-3= f.association :contributor, collection: [['Multiple', 'multiple'], ['Other','other']] + Organization.all.collect{|f| [f.to_s, f.id]}, required: true
      #other-contributor-div.col-sm-4{style: 'display:none;'}
        = f.input :other_contributor

    .row
      .col-sm-9= f.input :legislative_authorization
    .row
      .col-sm-4
        = f.input :award_date, :wrapper => :vertical_append, :label => "Date of Award" do
          = f.input_field :award_date, :as => :string, :class => 'form-control datepicker', :value => format_as_date(f.object.award_date)
          %span.input-group-addon
            %i.fa.fa-calendar
    .row
      .col-sm-4
        .form-group
          %label.control-label Method of Apportionment Structure
          .display-value Single Apportionment
      .col-sm-4= f.input :fy_year, collection: get_fiscal_years(Date.today-19.years,19), label: 'Grant Year'
    .row
      .col-sm-4
        = f.input :amount, :wrapper => :vertical_prepend, label: 'Total Apportionment' do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :amount, :class => "form-control"
    .row
      .col-sm-3
        = f.input :over_allocation_allowed, label: 'Allow Over-Allocation'
    .row
      .col-sm-3
        .form-group
          %label.control-label Grant Development Method
          .display-value Directly Generated

  = f.button :submit, :class => "btn btn-primary", :id => 'grant_form_submit'

:javascript

  $('.grant_form').validate({
    submitHandler: function(form) {
      $('input').prop('disabled', false); // re-enable any disabled fields so they'll submit
      form.submit();
    }
  });

  $('#funding_source_type_id').on('change', function(e) {
    var id = $(this).val();

    $("#grant_global_sourceable option:selected").prop("selected", false)
    $('#grant_global_sourceable option').hide();
    $('#grant_global_sourceable option[data-funding-source-type-id="'+id+'"]').show();
  });

  $('#grant_contributor_id').on('change', function(e) {
    var id = $(this).val();

    if ($('#grant_contributor_id option:selected').text() == 'Other') {
      $('#other-contributor-div').show();
    } else {
      $('#other-contributor-div').hide();
      $('#grant_other_contributor').val('');
    }

  });

  $('#funding_source_type_id').change();
  $('#grant_contributor_id').change();
