:ruby
  glas = Hash.new
  ChartOfAccount.where(organization_id: @organization_list).each do |coa|
    glas[coa.organization_id] = coa.general_ledger_accounts.fixed_asset_accounts.ids
  end

= simple_form_for(@grant,
  :html => {:class => 'form-vertical grant_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

  - if @organization_list.count > 1
    = f.association :organization, :required => true, :collection => Organization.all, :label_method => 'coded_name'
  = f.input :sourceable_id, :collection => Grant.sources, :required => true, :label => Grant.label, :disabled => !@grant.new_record?
  = f.input :name
  = f.input :fy_year, :collection => @fiscal_years, :label => 'Fiscal Year'

  = f.input :amount, :wrapper=> :vertical_prepend, :label => "Amount" do
    %span.input-group-addon
      %i.fa.fa-usd
    = f.input_field :amount, :class => "form-control", :min => GeneralLedgerAccountEntry.where(sourceable: @grant).sum(:amount)

  #grant_budgets.well.well-sm{style: "overflow-y:scroll; max-height:250px;"}
    %label.control-label
      %i.fa.fa-usd.fa-1-5x
      Grant
    .links.pull-right
      = link_to_add_association f, :grant_budgets, :class => 'btn btn-xs btn-info', data: {association_insertion_method: 'after'} do
        %i.fa.fa-plus
    %label#grant_budgets-error.error
    = f.simple_fields_for :grant_budgets do |grant_budget|
      = render 'grant_budget_fields', f: grant_budget

  = f.button :submit, :class => "btn btn-primary"

:javascript

  var glas = JSON.parse('#{glas.to_json}');

  $(document).ready(function(){
    transam.make_same_height('.header-part');
  });

  // jquery validations
  $('.grant_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });

  $('#grant_organization_id').change(function() {
    update_glas();
  });

  $('#grant_budgets').on('cocoon:after-insert', function() {
    update_glas();
  })

  function update_glas() {
    org_id = parseInt($('#grant_organization_id').val());
    var gla_ids = glas[org_id];
    console.log(gla_ids);
    $('#grant_budgets select option').each(function() {
        $(this).prop('selected', false);
        var val = $(this).val();
        if((val && gla_ids != undefined && gla_ids.indexOf(parseInt(val)) > -1) || (val == "")) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
  }
