:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0


:css
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  #subheader-label h2 {
    border-bottom: 1px solid #e5e5e5;
  }

  .btn-primary, .btn-group > .btn:first-child {
    margin-left: 5px;
  }

  .navbar-form {
    position:relative;
  }


#subheader-label
  %h2 Grants
  %legend.asset-subheader
    %span #{params[:state] == "all" ? "All" : "Filtered"}


#grants_table_actions.row
  - if show_actions == 1
    = render :partial => "grants/index_actions", :sourceable => @sourceable

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => '{"0":{"name":"Object Key","width":"8%"},
                    "1":{"name":"Grant Number","width":"8%","type":"drilldown-link"},
                    "2":{"name":"Source","width":"5%"},
                    "3":{"name":"Program","width":"8%"},
                    "4":{"name":"Grant Year","width":"5%"},
                    "5":{"name":"Owner","width":"5%"},
                    "6":{"name":"Contributor","width":"8%"},
                    "7":{"name":"Legislative Authorization","width":"12%"},
                    "8":{"name":"Date of Award","width":"8%","type":"right-align"},
                    "9":{"name":"Date of Most Recent Amendment","width":"11%"},
                    "10":{"name":"Status","width":"7%"},
                    "11":{"name":"Last Update By","width":"10%"},
                    "12":{"name":"Last Update Date","width":"8%","type":"right-align"}}',  
      :selected_columns => "1,2,3,4,5,6,7,8,9,10,11,12",
      :cookies => "true",
      :sort => 'client',
      :params => "{}",
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}

  :ruby

    def pre_sort(vals)
      vals.map.with_index { |grant,index| { grant.id => index } }
    end    
    sort = {"0"=> grants.sort_by { |grant| grant.id }.map.with_index { |grant,index| { grant.id => index } } ,
      "1"=> grants.sort_by { |grant| grant.grant_num }.map.with_index { |grant,index| { grant.id => index } } ,
      "2"=> grants.sort_by { |grant| grant.sourceable.funding_source_type }.map.with_index { |grant,index| { grant.id => index } },
      "3"=> grants.sort_by { |grant| grant.funding_source }.map.with_index { |grant,index| { grant.id => index } },
      "4"=> grants.sort_by { |grant| grant.fy_year }.map.with_index { |grant,index| { grant.id => index } },
      "5"=> grants.sort_by { |grant| grant.owner }.map.with_index { |grant,index| { grant.id => index } },
      "6"=> grants.sort_by { |grant| grant.has_multiple_contributors ? "Multiple" : (grant.contributor.nil? ? "Other" : grant.contributor) }.map.with_index { |grant,index| { grant.id => index } },
      "7"=> grants.sort_by { |grant| grant.legislative_authorization }.map.with_index { |grant,index| { grant.id => index } },
      "8"=> grants.sort_by { |grant| grant.award_date }.map.with_index { |grant,index| { grant.id => index } },
      "9"=> grants.sort_by { |grant| grant.grant_amendments.last.try(:created_at).try(:to_date) }.map.with_index { |grant,index| { grant.id => index } },
      "10"=> grants.sort_by { |grant| grant.state.titleize }.map.with_index { |grant,index| { grant.id => index } },
      "11"=> grants.sort_by { |grant| grant.updater }.map.with_index { |grant,index| { grant.id => index } },
      "12"=> grants.sort_by { |grant| grant.updated_at }.map.with_index { |grant,index| { grant.id => index } }}



  - grants.each_with_index do |grant, index|

    :javascript
      console.log("#{sort}");
      add_row('#{table_dom_id}',
      {
        "0": {"content":'#{h grant.id }',"sort":'#{sort["0"][index][grant.id]}'},
        "1": {"content":'#{h link_to grant.grant_num, grant_path(grant) }',"sort":'#{sort["1"][index][grant.id]}'},
        "2": {"content":'#{h grant.sourceable.funding_source_type }',"sort":'#{sort["2"][index][grant.id]}'},
        "3": {"content":'#{h grant.funding_source }',"sort":'#{sort["3"][index][grant.id]}'},
        "4": {"content":'#{h grant.fy_year }',"sort":'#{sort["4"][index][grant.id]}'},
        "5": {"content":'#{h grant.owner }',"sort":'#{sort["5"][index][grant.id]}'},
        "6": {"content":'#{h grant.has_multiple_contributors ? "Multiple" : (grant.contributor.nil? ? "Other" : grant.contributor) }',"sort":'#{sort["6"][index][grant.id]}'},
        "7": {"content":'#{h grant.legislative_authorization }',"sort":'#{sort["7"][index][grant.id]}'},
        "8": {"content":'#{h format_as_date(grant.award_date) }',"sort":'#{sort["8"][index][grant.id]}'},
        "9": {"content":'#{h format_as_date(grant.grant_amendments.last.try(:created_at).try(:to_date)) }',"sort":'#{sort["9"][index][grant.id]}'},
        "10": {"content":'#{h grant.state.titleize}',"sort":'#{sort["10"][index][grant.id]}'},
        "11": {"content":'#{h grant.updater }',"sort":'#{sort["11"][index][grant.id]}'},
        "12": {"content":'#{h format_as_date_time(grant.updated_at) }',"sort":'#{sort["12"][index][grant.id]}'}
      }, #{index});


-##grants_table_actions.row
-#  - if show_actions == 1
-#    = render :partial => "grants/index_actions", :sourceable => @sourceable
-#
-#.table-responsive
-#  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#    :pagination => 'true',
-#    :show_pagination_switch => 'false',
-#    :page_number => '1',
-#    :page_list => "[10, 20, 50, 100, 200]",
-#    :page_size => current_user.num_table_rows,
-#    :search => 'false',
-#    :export_types => "['csv', 'txt', 'excel']",
-#    :show_export => 'false',
-#    :show_columns => 'false',
-#    :cookie => 'true',
-#    :cookie_id_table => "grants_id",
-#    :cookie_expire => "1y"}}
-#    %thead
-#      %tr
-#        %th.left{:data => {:visible => 'false'}} Object Key
-#        %th.left{:data => {:sortable => 'true'}} Grant Number
-#        %th.left{:data => {:sortable => 'true'}} Source
-#        %th.left{:data => {:sortable => 'true'}} Program
-#        %th.left{:data => {:sortable => 'true'}} Grant Year
-#        %th.left{:data => {:sortable => 'true'}} Owner
-#        %th.left{:data => {:sortable => 'true'}} Contributor
-#        %th.left{:data => {:sortable => 'true'}} Legislative Authorization
-#        %th.left{:data => {:sortable => 'true'}} Date of Award
-#        %th.left{:data => {:sortable => 'true'}} Date of Most Recent Amendment
-#        %th.left{:data => {:sortable => 'true'}} Status
-#        %th.left{:data => {:sortable => 'true'}} Last Update By
-#        %th.left{:data => {:sortable => 'true'}} Last Update Date
-#
-#    %tbody
-#      - grants.each do |grant|
-#        %tr{:id => grant.object_key}
-#          %td.left= grant.object_key
-#          %td.left= link_to grant.grant_num, grant_path(grant)
-#          %td.left= grant.sourceable.funding_source_type
-#          %td.left= grant.funding_source
-#          %td.left= grant.fy_year
-#          %td.left= grant.owner
-#          %td.left= grant.has_multiple_contributors ? 'Multiple' : (grant.contributor.nil? ? 'Other' : grant.contributor)
-#          %td.left= grant.legislative_authorization
-#          %td.left= format_as_date(grant.award_date)
-#          %td.left= format_as_date(grant.grant_amendments.last.try(:created_at).try(:to_date))
-#          %td.left= grant.state.titleize
-#          %td.left= grant.updater
-#          %td.left= format_as_date_time(grant.updated_at)

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => grant_path("xxx")}