:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0


:css
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  #subheader-label h2 {
    border-bottom: 1px solid #e5e5e5;
  }

  .btn-primary, .btn-group > .btn:first-child {
    margin-left: 5px;
  }

  .navbar-form {
    position:relative;
  }

  .col-item:nth-child(1){
    width:12%;
  }
  .col-item:nth-child(2){
    width:8%;
  }
  .col-item:nth-child(3){
    width:5%;
  }
  .col-item:nth-child(4){
    width:8%;
  }
  .col-item:nth-child(5){
    width:5%;
  }
  .col-item:nth-child(6){
    width:5%;
  }
  .col-item:nth-child(7){
    width:8%;
  }
  .col-item:nth-child(8){
    width:12%;
  }
  .col-item:nth-child(9){
    width:8%;
  }
  .col-item:nth-child(10){
    width:11%;
  }
  .col-item:nth-child(11){
    width:7%;
  }
  .col-item:nth-child(12){
    width:10%;
  }
  .col-item:nth-child(13){
    width:8%;
  }

#subheader-label
  %h2 Grants
  %legend.asset-subheader
    %span #{params[:state] == "all" ? "All" : "Filtered"}


#grants_table_actions.row
  - if show_actions == 1
    = render :partial => "grants/index_actions", :sourceable => @sourceable

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100,200",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => "Object Key,
                  Grant Number,drilldown-link,
                  Source,
                  Program,
                  Grant Year,
                  Owner,
                  Contributor,
                  Legislative Authorization,
                  Date of Award,right-align,
                  Date of Most Recent Amendment,
                  Status,
                  Last Update By,
                  Last Update Date,",
      :selected_columns => "Grant Number,
                  Source,
                  Program,
                  Grant Year,
                  Owner,
                  Contributor,
                  Legislative Authorization,
                  Date of Award,
                  Date of Most Recent Amendment,
                  Status,
                  Last Update By,
                  Last Update Date",
      :cookies => "true",
      :sort => 'client',
      :params => "{}",
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - grants.each_with_index do |grant, index|

    :javascript
      add_row('#{table_dom_id}',
      {
        "Grant Number": '#{h link_to grant.grant_num, grant_path(grant) }',
        "Source": '#{h grant.sourceable.funding_source_type }',
        "Program": '#{h grant.funding_source }',
        "Grant Year": '#{h grant.fy_year }',
        "Owner": '#{h grant.owner }',
        "Contributor": '#{h grant.has_multiple_contributors ? 'Multiple' : (grant.contributor.nil? ? 'Other' : grant.contributor) }',
        "Legislative Authorization": '#{h grant.legislative_authorization }',
        "Date of Award": '#{h format_as_date(grant.award_date) }',
        "Date of Most Recent Amendment": '#{h format_as_date(grant.grant_amendments.last.try(:created_at).try(:to_date)) }',
        "Status": '#{h grant.state.titleize}',
        "Last Update By": '#{h grant.updater }',
        "Last Update Date": '#{h format_as_date_time(grant.updated_at) }',
      }, #{index});


-##grants_table_actions.row
-#  - if show_actions == 1
-#    = render :partial => "grants/index_actions", :sourceable => @sourceable
-#
-#.table-responsive
-#  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#    :pagination => 'true',
-#    :show_pagination_switch => 'false',
-#    :page_number => '1',
-#    :page_list => "[10, 20, 50, 100, 200]",
-#    :page_size => current_user.num_table_rows,
-#    :search => 'false',
-#    :export_types => "['csv', 'txt', 'excel']",
-#    :show_export => 'false',
-#    :show_columns => 'false',
-#    :cookie => 'true',
-#    :cookie_id_table => "grants_id",
-#    :cookie_expire => "1y"}}
-#    %thead
-#      %tr
-#        %th.left{:data => {:visible => 'false'}} Object Key
-#        %th.left{:data => {:sortable => 'true'}} Grant Number
-#        %th.left{:data => {:sortable => 'true'}} Source
-#        %th.left{:data => {:sortable => 'true'}} Program
-#        %th.left{:data => {:sortable => 'true'}} Grant Year
-#        %th.left{:data => {:sortable => 'true'}} Owner
-#        %th.left{:data => {:sortable => 'true'}} Contributor
-#        %th.left{:data => {:sortable => 'true'}} Legislative Authorization
-#        %th.left{:data => {:sortable => 'true'}} Date of Award
-#        %th.left{:data => {:sortable => 'true'}} Date of Most Recent Amendment
-#        %th.left{:data => {:sortable => 'true'}} Status
-#        %th.left{:data => {:sortable => 'true'}} Last Update By
-#        %th.left{:data => {:sortable => 'true'}} Last Update Date
-#
-#    %tbody
-#      - grants.each do |grant|
-#        %tr{:id => grant.object_key}
-#          %td.left= grant.object_key
-#          %td.left= link_to grant.grant_num, grant_path(grant)
-#          %td.left= grant.sourceable.funding_source_type
-#          %td.left= grant.funding_source
-#          %td.left= grant.fy_year
-#          %td.left= grant.owner
-#          %td.left= grant.has_multiple_contributors ? 'Multiple' : (grant.contributor.nil? ? 'Other' : grant.contributor)
-#          %td.left= grant.legislative_authorization
-#          %td.left= format_as_date(grant.award_date)
-#          %td.left= format_as_date(grant.grant_amendments.last.try(:created_at).try(:to_date))
-#          %td.left= grant.state.titleize
-#          %td.left= grant.updater
-#          %td.left= format_as_date_time(grant.updated_at)

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => grant_path("xxx")}