:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

:css
  #subheader-label h2 {
    border-bottom: 1px solid #e5e5e5;
  }

  .btn-primary, .btn-group > .btn:first-child {
    margin-left: 5px;
  }

  .navbar-form {
    position:relative;
  }

#subheader-label
  %h2 Grants
  %legend.asset-subheader
    %span #{params[:state] == "all" ? "All" : "Filtered"}

#grants_table_actions.row
  - if show_actions == 1
    = render :partial => "grants/index_actions"

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :pagination => 'true',
    :show_pagination_switch => 'false',
    :page_number => '1',
    :page_list => "[10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'false',
    :show_columns => 'false',
    :cookie => 'true',
    :cookie_id_table => "grants_id",
    :cookie_expire => "1y"}}
    %thead
      %tr
        %th.left{:data => {:visible => 'false'}} Object Key
        %th.left{:data => {:sortable => 'true'}} Grant Number
        %th.left{:data => {:sortable => 'true'}} Source
        %th.left{:data => {:sortable => 'true'}} Program
        %th.left{:data => {:sortable => 'true'}} Grant Year
        %th.left{:data => {:sortable => 'true'}} Owner
        %th.left{:data => {:sortable => 'true'}} Contributor
        %th.left{:data => {:sortable => 'true'}} Legislative Authorization
        %th.left{:data => {:sortable => 'true'}} Date of Award
        %th.left{:data => {:sortable => 'true'}} Date of Most Recent Amendment
        %th.left{:data => {:sortable => 'true'}} Status
        %th.left{:data => {:sortable => 'true'}} Last Update By
        %th.left{:data => {:sortable => 'true'}} Last Update Date

    %tbody
      - grants.each do |grant|
        %tr{:id => grant.object_key}
          %td.left= grant.object_key
          %td.left= link_to grant.grant_num, grant_path(grant)
          %td.left= grant.sourceable.funding_source_type
          %td.left= grant.funding_source
          %td.left= grant.fy_year
          %td.left= grant.owner
          %td.left= grant.has_multiple_contributors ? 'Multiple' : (grant.contributor.nil? ? 'Other' : grant.contributor)
          %td.left= grant.legislative_authorization
          %td.left= format_as_date(grant.award_date)
          %td.left= format_as_date(grant.grant_amendments.last.try(:created_at).try(:to_date))
          %td.left= grant.state.titleize
          %td.left= grant.updater
          %td.left= format_as_date_time(grant.updated_at)

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => grant_path("xxx")}