= simple_form_for(@general_ledger_mapping,
:html => {:class => 'form-vertical gl_mapping_form'},
:wrapper => :vertical_form,
:wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  = f.input :chart_of_account_id, :as => :hidden, :value => @chart_of_account_id
  = f.association :asset_subtype, :collection => AssetType.all, :as => :grouped_select, :group_method => :asset_subtypes

  = f.association :asset_account, :collection => GeneralLedgerAccount.where(chart_of_account_id: @chart_of_account_id)
  = f.association :depr_expense_account, :collection => GeneralLedgerAccount.where(chart_of_account_id: @chart_of_account_id), :label => 'Depreciation Expense Account'
  = f.association :accumulated_depr_account, :collection => GeneralLedgerAccount.where(chart_of_account_id: @chart_of_account_id), :label => 'Accumulated Depreciation Account'
  = f.association :gain_loss_account, :collection => GeneralLedgerAccount.where(chart_of_account_id: @chart_of_account_id), :label => 'Gain/Loss Account'

  = f.button :submit, :class => "btn btn-primary", :label => 'Save'

:javascript

  $('.gl_mapping_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });