.row
  .col-md-12{:style => 'height:180px;overflow-y:auto;'}
    - if @expenditure.documents.empty?
      %p There are no documents for this CapEx.
    - else
      = render :partial => 'shared/documents', :locals => {:documents => @expenditure.documents}

- if can? :update, @expenditure
  .row
    .col-md-12
      %fieldset
        %legend Add Document
        = simple_form_for([@expenditure, Document.new],
            :html => {:multipart => true, :class => 'form-vertical' },
            :wrapper => :vertical_form,
            :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
          = f.input :document, :required => true
          = f.input :description, :as => :text, :placeholder => 'Enter a brief description of the document...', :required => true, :minlength => 10
          = f.submit "Add Document", :class => 'btn btn-primary', :id => "document_submit"
