:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :card_view => "false",
  :pagination => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :show_pagination_switch => 'true',
  :search => 'false',
  :show_columns => 'true',
  :show_export => 'true',
  :show_toggle => 'true',
  :resizable => 'true',
  :search => 'false'}}
  %thead
    %tr
      - unless @organization.chart_of_accounts.blank?
        %th.left Account
      %th.left Category
      %th.left Date
      %th.left Expense
      %th.left Vendor
      %th.right Amount
      %th.left Grant
      %th.right Grant %

  %tbody
    - sum_expenditures = 0
    - expenditures.includes(:general_ledger_account, :expense_type, :vendor, :grant).each do |e|
      - sum_expenditures += e.amount
      %tr.popup-details{:data => {:action_path => expenditure_path(e)}}
        - unless @organization.chart_of_accounts.blank?
          %td.left= e.general_ledger_account
        %td.left= e.expense_type
        %td.left= format_as_date(e.expense_date)
        %td.left= e.description
        %td.left= link_to(e.vendor, vendor_path(e.vendor)) unless e.vendor.nil?
        %td.right= format_as_currency(e.amount)
        %td.left= e.grant unless e.grant.nil?
        %td.right= format_as_percentage(e.pcnt_from_grant) unless e.grant.nil?
  %tfoot
    %tr
      - if @organization.chart_of_accounts.blank?
        %td{:colspan => 4}
      - else
        %td{:colspan => 5}

      %td.right= format_as_currency(sum_expenditures)
      %td{:colspan => 2}

:javascript

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
