%table.table.table-hover#datatable
  %thead
    %tr
      %th.left Account
      %th.left Category
      %th.left Date
      %th.left Expense
      %th.right Amount
      %th.left Grant
      %th.right Grant %

  %tbody
    - expenditures.each do |e|      
      %tr.popup-details{:data => {:action_path => expenditure_path(e)}}
        %td.left= e.general_ledger_account
        %td.left= e.expense_type
        %td.left= format_as_date(e.expense_date)
        %td.left= e.description
        %td.right= format_as_integer(e.amount)
        %td.left= e.grant unless e.grant.nil?
        %td.right= format_as_percentage(e.pcnt_from_grant) unless e.grant.nil?

= render 'shared/datatable_javascript'
