= simple_form_for(@expenditure,
:html => {:class => 'form-vertical expenditure_form'},
:wrapper => :vertical_form,
:wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - unless @asset.nil?
    = hidden_field_tag :asset_key, @asset.object_key

  = f.input :description, :required => true, :label => 'Expense'

  .row
    .col-sm-3
      = f.association :expense_type, :required => true, :collection => @organization.expense_types.active, :label => 'Category'
    .col-sm-3
      = f.input :amount, :wrapper=> :vertical_prepend, :label => "Amount" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :amount, :class => "form-control", :min => 0
    .col-sm-3
      = f.input :expense_date, :required => true, :wrapper => :vertical_append, :label => "Expense Date" do
        = f.input_field :expense_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.expense_date)
        %span.input-group-addon
          %i.fa.fa-calendar
    .col-sm-3
      = f.association :vendor, :collection => @organization.vendors.active

  .row
    - unless @organization.chart_of_accounts.blank?
      .col-sm-3
        - if @ledger_account.nil?
          = f.association :general_ledger_account, :label => 'General Ledger Account', :collection => @organization.chart_of_accounts.general_ledger_accounts.active
        - else
          = f.association :general_ledger_account, :label => 'General Ledger Account', :collection => @organization.chart_of_accounts.general_ledger_accounts.active, :selected => @ledger_account.id

    - if @organization.chart_of_accounts.blank?
      .col-sm-3
        = f.input :grant_id, :collection => @organization.grants
      .col-sm-3
        = f.input :pcnt_from_grant, :wrapper => :vertical_append, :label => "Pcnt" do
          = f.input_field :pcnt_from_grant, :min => 0, :max => 100, :style => 'text-align:right;', :class => 'form-control', :label => false
          %span.input-group-addon %
    - else
      .col-sm-3#grant-selector-chart-of-accounts-present
        = f.input :grant_id, :collection => @organization.general_ledger_accounts.active, :as => :grouped_select, :group_method => :grants
      .col-sm-3#pcnt_from_grant-chart-of-accounts-present
        = f.input :pcnt_from_grant, :wrapper => :vertical_append, :label => "Pcnt" do
          = f.input_field :pcnt_from_grant, :min => 0, :max => 100, :style => 'text-align:right;', :class => 'form-control', :label => false
          %span.input-group-addon %

  = f.button :submit, :class => 'btn btn-primary'

  = render 'expenditures/form_scripts'
