= simple_form_for([@asset, @expenditure],
    :as => :expenditure,
    :url => @expenditure.new_record? ? inventory_expenditures_path(@asset) : inventory_expenditure_path(@asset, @expenditure),
    :method => @expenditure.new_record? ? 'post' : 'put',
    :html => {:class => 'form-vertical expenditure_form'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|


  = hidden_field_tag :asset_key, @asset.object_key

  = f.input :description, :required => true, :label => 'Expense'

  - coa = ChartOfAccount.find_by(organization_id: @asset.organization)
  - unless coa.nil?
    .row
      .col-sm-12
        = f.association :general_ledger_account, :collection => GeneralLedgerAccount.where(chart_of_account_id: coa.id), :label => 'Purchase Account', :label_method => 'coded_name'

  .row
    .col-sm-4
      = f.association :expense_type, :required => true, :collection => ExpenseType.active, :label => 'Category'
    .col-sm-4
      = f.input :amount, :wrapper=> :vertical_prepend, :label => "Amount" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :amount, :class => "form-control", :min => 0
    .col-sm-4
      = f.input :expense_date, :required => true, :wrapper => :vertical_append, :label => "Expense Date" do
        = f.input_field :expense_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.expense_date)
        %span.input-group-addon
          %i.fa.fa-calendar

  = f.button :submit, :class => 'btn btn-primary'

  = render 'expenditures/form_scripts'
