= simple_form_for(@expenditure,
:html => {:class => 'form-vertical'},
:wrapper => :vertical_form,
:wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - unless @asset.nil?
    = hidden_field_tag :asset_key, @asset.object_key

  = f.input :description, :label => 'Expense'
  = f.association :expense_type, :collection => @organization.expense_types, :label => 'Category'

  .row
    .col-sm-3
      = f.input :amount, :wrapper=> :vertical_prepend, :label => "Amount" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :amount, :class => "form-control"
    .col-sm-3
      = f.input :expense_date, :wrapper => :vertical_append, :label => "Expense Date" do
        = f.input_field :expense_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => f.object.expense_date.strftime("%m-%d-%Y")
        %span.input-group-addon
          %i.fa.fa-calendar
    .col-sm-6
      = f.association :vendor

  - if SystemConfig.transam_module_loaded? :transit
    .row
      .col-md-7
        = f.input :grant_id, :collection => @organization.grants
      .col-md-5
        = f.input :pcnt_from_grant, :wrapper => :vertical_append, :label => "Pcnt" do
          = f.input_field :pcnt_from_grant, :input_html => {:min => 0}, :style => 'text-align:right;', :class => 'form-control', :label => false
          %span.input-group-addon %

  - unless @organization.chart_of_accounts.blank?
    - if @ledger_account.nil?
      = f.association :general_ledger_account, :label => 'General Ledger Account', :collection => @organization.chart_of_accounts.general_ledger_accounts
    - else
      = f.association :general_ledger_account, :label => 'General Ledger Account', :collection => @organization.chart_of_accounts.general_ledger_accounts, :selected => @ledger_account.id

  = f.button :submit, :class => 'btn btn-primary'
