:ruby
  table_dom_id = SecureRandom.hex

#table_actions.btn-group
  = render :partial => "expenditures/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_footer => "#{expenditures.count > 0}",
  :show_toggle => 'true',
  :state_save => 'true',
  :state_save_id_table => "expendituresid",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.left{:data => {:sortable => 'true'}} Category
      %th.left{:data => {:sortable => 'true'}} Date
      %th.left{:data => {:sortable => 'true'}} Expense
      %th.right{:data => {:sortable => 'true', :formatter => 'currency_formatter', :footer_formatter => 'sum_column_as_currency'}} Amount

  %tbody
    - expenditures.includes(:general_ledger_account, :expense_type, :grant).each do |e|
      %tr{:id => e.object_key, :class => 'action-path'}
        %td.left= e.object_key
        %td.left= e.expense_type
        %td.left= format_as_date(e.expense_date)
        %td.left= e.description.html_safe
        %td.right= e.amount

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => inventory_expenditure_path(@asset, "xxx")}

:javascript

  function sum_column_as_currency(col_data) {
    var sum = 0;
    for (i = 0; i < col_data.length; i++) {
      sum += parseInt(col_data[i][4]);
    }
    return "<strong>" + currency_formatter(sum) + "</strong>";
  };
